@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  width: 100%;
}

.content {
  background-color: $ui-background;
}

.doseCell {
  min-width: 140px;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
}
.headerRow {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  z-index: 2;
  border-bottom: 1px solid #ddd;
}
.headerCell {
  min-width: 200px;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  position: sticky;
  left: 0;
  background-color: #f4f4f4;
}
.expired {
  background-color: #ffd7d9;
  color: #a2191f;
  padding: 0px 8px;
  border-radius: 0.5rem;
}
.notexpired {
  background-color: #a7f0ba;
  padding: 0px 8px;
  color: #044317;
  border-radius: 0.5rem;
}
.vaccineName {
  width: 200px;
  position: sticky;
  left: 0;
  z-index: 1;
  vertical-align: top;
}
.vaccineDose {
  overflow-x: auto;
  white-space: nowrap;
  padding: 0.5rem 0;
}
